<h1 id="message">Message</h1>
<div class="container">
<div class="row">
<div class="col-sm-3 col-lg-6 col-md-12 ">

<section id="item">

 <div class="item clearfix">

 
 <table class="table table-bordered" id="msgEmail">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Sender</th>
      <th colspan="2" align="center">Delete</th>
     
     
    </tr>
  </thead>
  <tbody>
  <% @message.each do |messages| %> 
  <tr>
 <td > 
   
 
 <%= messages.title %>
  
   </td>

   <td>
   
 <%= messages.content %>
  </td>
 <td>
 
 <%= messages.sender %>
  
  </td>
  <td>
   <%= link_to 'Destroy', showmsg_path(:id => messages), method: :delete %></td>
</tr>
  <% end %>
</tbody>
</table>
 </div>
 
</section>

</div>
</div>
</div>



