<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
<h1>Log In</h1>

<% if flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<%= simple_form_for :session, :url =>login_path do |f| %>

	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.submit "Log In"%>

<% end %>
</div>
</div>
