<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h4>
 Hello,
</h4>
<p>
<%= @content %>
</p>
<div>
	<p>Thanks,</p>
<%= @sender %>
   </div>
  </body>
</html>