<% if current_page?(login_admin_path) || (dashboard_path) %>
    <nav class="navbar  navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag('my_images/favicon.png') %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Dashboard", login_admin_path%></li>
            
            <%#<li><a href="#contact">Contact</a></li>%>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%end%>