

<h1> Dashboard</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3 well">
<table class="table table-bordered" id="#dahboardAdmin">
	<thead>
		<tr>
			<th>S.No.</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr></tr>
		<tr>
			<td>1</td>
			<td><%= link_to "Items" , index_path %></td>
			</tr>
			<tr>
				<td>2</td>
				<td><%= link_to "Messages" , showmsg_path %></td>
			</tr>

		
			
		
	</tbody>

</table>
</div>
</div>

