
<h1>Log In</h1>
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6 col-md-offset-3 well">

<%= simple_form_for :session, :url =>dashboard_path do |f| %>

	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.submit "Log In"%>

<% end %>
</div>
</div>


