<h1>Register Here</h1>
<p>Fill in the following fields</p>
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
		
<%= simple_form_for @user, url:new_path do |f| %>
	<%= f.input :username %>
	<%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :password_confirm %>
	<%= f.button :submit %>

	<% end %>
</div>
</div>