<% if current_page?(home_path) || current_page?(about_path) || current_page?(login_path) || current_page?(menu_path) || current_page?(contact_path) || current_page?(cart_path) || current_page?(new_path)  %>
<div id="push"></div>
<footer class="text-center footer-front" >
<div class="container">
<div class="row">
<div>Copyright &copy;</div>
</div>
</div>

</footer>
 
 <% else %>
<div id="push"></div>
<footer class="text-center footer-admin" >
<div class="container">
<div class="row">
<div>Copyright &copy;</div>
</div>
</div>

</footer>
<% end %>