 <% if current_page?(home_path) || current_page?(about_path) || current_page?(login_path) || current_page?(menu_path) || current_page?(contact_path) || current_page?(cart_path) || current_page?(new_path)   %>
 <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag('my_images/favicon.png') %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Menu", menu_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Cart", cart_path %></li>

          </ul>
           <ul class="nav navbar-nav navbar-right">
            <% if !signed_in? %>
            <li><%= link_to "Log In", login_path %></li>
           
            <li><%= link_to "Sign Up", new_path %></li>
             <% else %>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>

            <% if signed_in? %>
            
            <li><a href="#"> Hello, <%= current_user.username %></a></li>
          
          <% end %>
           <% end %>
           <!--  <p id="notice"><%= notice %></p> -->
            <%#<li><a href="#contact">Contact</a></li>%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="imageMy">
    <div class="bannerImg")>
    </div>
    </div>

    <% else %>
    <nav class="navbar  navbar-default" id="admin-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag('my_images/favicon.png') %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="admin-list">
            <li><%= link_to "Dashboard", dashboard_path%></li>
            
            <%#<li><a href="#contact">Contact</a></li>%>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav> 

    <% end %>