<h1 class="items-alignment">About Us</h1>

<div class="row">
<div class="col-md-6 col-sm-12">
	<div class="container aboutUsContainer">
	<%= image_tag('my_images/aboutUs.jpg', class:'homeCuisine aboutUsImg image') %>
	<div class="overlay">
		<div class="imageOverlay text">What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
	</div>
	</div>
	</div>
</div>
	<section id="item">
		<br>
		<div class="row">
			<div class="container">
				<div class="col-md-6 col-sm-12  alignButtonShow " >
				<button class="btn btn-default myBtn" ><a href="#" id="showall">Show List</a></button>
			 <div >Top Cuisine
			 </div>
				<div  id="listMenu" >
	
 
					<% @items.each do |item| %>
 
					<p class="item-title"><%= item.title %></p>
  
 
 					<% end %>
				</div>
 				</div>
			</div>
	</section>
</div>

</div>
