<h1>Contact Us</h1>
<p>Send us a message</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
<%= form_for Message.new, :url =>contact_path, :method => :post do |form| %>
 <div class="form-group">
    <%= form.label :sender %>
    <%= form.text_field :sender, class:'form-control'%>
  </div>
	 <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control', required: true  %>
  </div>


  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class:'form-control', required: true  %>
  </div>

	 <div class="actions">
    <%= form.submit "Submit" %>
  </div>

<% end %>
</div>
</div>
