<h1 id="homeH1">Top Cuisines</h1>
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="thumb-nail">
<%= image_tag('my_images/food_1.jpg', class:'homeCuisine') %>
<div class="caption">
    <p>Cuisine</p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="thumb-nail">
<%= image_tag('my_images/icecream.jpg', class:'homeCuisine') %>
<div class="caption">
    <p>Cuisine2</p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="thumb-nail">
<%= image_tag('my_images/greenOnion.jpg', class:'homeCuisine') %>
<div class="caption">
    <p>Cuisine3</p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="thumb-nail">
<%= image_tag('my_images/platingfood.jpg', class:'homeCuisine') %>
<div class="caption">
    <p>Cuisine4</p>
</div>
</div>
</div>
</div>
</div>
<div class= "wrapOrderSect">
<h1 id="homeH1">4 Easy Steps to Order Food </h1>
<div class="container">
<div class="row">

<%#<%= image_tag('my_images/food_1.jpg', class:'homeCuisine') %>


<div class="col-md-12 col-xs-3 col-sm-1">
<div class="thumb-nail">
<%= image_tag('my_images/orderfood.png') %>
<%#<div class="caption">
    <p>Step 3</p>
</div>%>
</div>
</div>

</div>
</div>
</div>
