<h1 id="menu">Menu</h1>
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="thumb-nail">
<section id="item">
<% @items.each do |item| %>
 <div class="item clearfix">
   <a href="<%= tocart_path(item) %>">
    <div class="item-main">
      <p class="item-title"> 
   
       <%= image_tag item.image.url, class:"item-show" %>
        
</p>
     <span class="item-price"><%= number_to_currency item.price %></span>
   </div>
   <p class="item-title"><%= item.title %></p>
  
 </div>
 <% end %>
</section>

</div>
</div>
</div>
</div>

