<div class="row">
	<div class="col-md-6 col-md-offset-3 well">

<%= form_for OrderItem.new  do |form|%>
<div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :value => @item.title , class:'form-control'%>
   
    
  </div>
  <div class="form-group">
    <%= form.label :description %>
     <%= form.text_field :title, :value => @item.description , class:'form-control'%>
    
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= image_tag @item.image.url, class:"item-show form-control" %> 
  </div>
  <div class="form-group">
    <%= form.label :price %>
     <%= form.text_field :title, :value =>  @item.price , class:'form-control'%>
  </div>

<%= form_tag order_items_path do %>
  		<%= hidden_field_tag :item_id, @item.id %>
  		<%= form.label :quantity %>
  		<%= number_field_tag :quantity, 1, class:'form-control' %><br>
  		<%= submit_tag "Add to Cart" %>
  		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  		<% end %> 
<% end %>
  	</div>
  </div>

 


