<div class="row">
<div class="col-md-6 col-md-offset-3 well">
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :item_image %>
    
     <% if @item.image? %>
     <%= image_tag @item.image.url, class: "item-show" %>
    <%= form.check_box :remove_image %>
    Remove Image
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :item_price, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit %>
  </div>
<% end %>

</div>
</div>
