
<p id="notice" class="items-alignment"><%= notice %></p>

<h1 class="items-alignment">Items</h1>
 <div class="items-alignment"><%= link_to 'New Item', new_item_path %> </div>
       
      
<div class="container">
<div class="row">
<div class="col-sm-3 col-lg-6 col-md-offset-3 ">

<table class= "table table-bordered itemIndex" id="itemIndex">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price ($)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><% if item.image? %>
        <%= image_tag item.image.url, class: "item-show" %>
        <% end %>
        </td>
        <td><%= number_to_currency item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete %></td>
      </tr>
    <% end %>
     
  </tbody>
</table>



</div>
</div>
</div>