<p id="notice" class="items-alignment"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">


<table class="table table-stripped itemShow" id="itemShow">
  <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.title %></td>
      <td><%= @item.description %></td>
      <td> <% if @item.image? %>
  <%= image_tag @item.image.url, class: "item-show" %>
  <% end %></td>
      <td><%= @item.price %></td>
      <td><%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
    </tr>
   

  </tbody>
</table>


</div>
</div>
