<br>
<h2>Current Cart</h2>
<div class="container">
<div class="row">
<div class="col-sm-12 col-lg-6 col-md-12 ">
<div >
 <button class="btn-default"><%= link_to "Back to Menu", menu_path %> </button>

<button class="btn-Primary"><%= link_to pluralize(current_cart.items_count, ' item'), cart_path %></button>
 </div>
   <br> 
<table class="table table-bordered orderItems" id="orderIndex">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="2" align="center">Edit Quantity</th>
      <td></td>
     
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>
  <tbody>
    <% @curr_cart_items.each do |cart_item| %>
  
      <tr>
       <td><%= cart_item.title %></td>
        <td><%= number_to_currency cart_item.price %></td>
        <td><%= cart_item.quantity %></td>
        
        
        <td><%= link_to "Add one(+)", order_item_add_path(:id => cart_item), method: :post %></td>
        <td><%= link_to "Reduce one", order_item_reduce_path(:id => cart_item), method: :post %></td> 
        <td><%= form_for cart_item, method: :delete  do |f|%>
          <%= f.submit "Remove" %>
          <% end %>
 
        </td>

 
      </tr>
     
    <% end %>

  </tbody>
 
</table>
 <button class="btn btn-primary subTotal" >Total: <%= number_to_currency current_cart.sub_total %> </button>

 </div>
</div>
</div>
</div>

