/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
body,
html {
    height: 100%;
}

body {
    position: relative;
}

.navbar {
    margin-bottom: 0;
    opacity: 0.85;
}

.bannerImg {
    background: url(asset-path('my_images/icecream.jpg')) no-repeat;
    background-size: cover;
    height: 41vh;
    background-position: center;
    color: black;
}

.footer-front {
    background-color: rgba(41, 38, 37, 0.95);
    width: 100%;
    opacity: 0.9;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: rgb(238, 238, 238);
}

.footer-admin {
    background-color: skyblue;
    opacity: 0.9;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: black;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.navbar-default {
    background-color: rgba(41, 38, 37, 0.95);
    opacity: 0.85;
    color: rgb(238, 238, 238);
}

#admin-nav {
    background-color: rgba(120, 175, 195, 0.95);
    color: black;
    border: none;
    opacity: 0.65;
}

.navbar-default .navbar-nav>li #admin-list {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(238, 238, 238);
}

.navbar-default .navbar-nav>li>a:hover {
color:rgb(235, 230, 230);
}

img.item-show {
    width: 200px;
    height: 200px;
}

a:hover
{
    background-color:rgba(0, 0, 0, 0.03);
    text-decoration:none;
}

.items-alignment
{
    padding: 0 0 0 20px;
}


.aboutUsImg
{
    padding-left: 20px;
    padding-right: 15px;
}

.container
{
    position: relative;

    /*width: 100%;*/
}

.aboutUsContainer
{
    height: 255px;

}

.overlay 
{
   position: absolute;
    width: 70%;
    /* height: 0; */
    /*bottom: 100%;*/
    background-color: rgba(141, 38, 37, 0.85);
    left: 28px;
    right: 0;
    overflow: hidden;
    transition: .5s ease;
    
}

.aboutUsImg 
{
    border-radius:0;
    width: 75%;
    height: 255px;
    display: block;
}

.text {
   position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  top: 0;
  transform: translate(1%, 1%);
  color: snow;
}
/*.container:hover .overlay .show
*{
 *   height: 100%;
  *  bottom:0;
*}
*/

.container:hover .overlay {
    height: 100%;
    bottom:0;
}

.subTotal
{
    float:right;
}

.myBtn
{
    text-decoration: none;
}

a:hover, a:active
{
    text-decoration: none;
}

#listMenu
{
    dispaly:none;
}

.alignButtonShow
{
    left: 40%;
}
