#homeH1 {
    color: maroon;
    text-align: center;
    font-size: 22px;
}

.homeCuisine {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    // margin-left: 100px;
}

.imgDisplay {
    margin-left: auto;
    margin-right: auto;
}

.thumb-nail {
    text-align: center;
}

.wrapOrderSect {
    background-color: rgba(204, 204, 204, 0.17);
}

.circleOrder {
    width: 200px;
    height: 200px;
    background-color: rgba(85, 85, 85, 0.5882352941176471);
}