// Place all the styles related to the Websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr  { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		/*position: absolute;*/
		/* Top/left values mimic padding */
		top: 6px;
		float:left;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	#orderIndex td:nth-of-type(1):before { content: "Product"; }
    #orderIndex td:nth-of-type(2):before { content: "Price"; }
	#orderIndex td:nth-of-type(3):before { content: "Quantity"; }
	#orderIndex td:nth-of-type(4):before { content: ""; }
	#orderIndex td:nth-of-type(5):before { content: ""; }
	#orderIndex td:nth-of-type(6):before { content: "Edit Quantity"; }
	
	/*#orderIndex td:nth-of-type(7):before { content: "Total"; }*/

	#dashboardAdmin td:nth-of-type(1):before { content: "S.No."; }
	#dashboardAdmin td:nth-of-type(2):before { content: "Name"; }
 	/*#dashboardAdmin td:nth-of-type(3):before { content: "Name"; }*/

	#itemIndex td:nth-of-type(1):before { content: "Title"; }
 	#itemIndex td:nth-of-type(2):before { content: "Description"; }
	#itemIndex td:nth-of-type(3):before { content: "Image"; }
	#itemIndex td:nth-of-type(4):before { content: "Price"; }
	#itemIndex td:nth-of-type(5):before { content: ""; }
	#itemIndex td:nth-of-type(7):before { content: ""; }

	#itemShow td:nth-of-type(1):before { content: "Title"; }
 	#itemShow td:nth-of-type(2):before { content: "Description"; }
	#itemShow td:nth-of-type(3):before { content: "Image"; }
	#itemShow td:nth-of-type(4):before { content: "Price"; }
	#itemShow td:nth-of-type(5):before { content: "Select"; }
	
	
	#msgEmail td:nth-of-type(1):before { content: "Title"; }
 	#msgEmail td:nth-of-type(2):before { content: "Content"; }
	#msgEmail td:nth-of-type(3):before { content: "Sender"; }
	#msgEmail td:nth-of-type(4):before { content: "Delete"; }
	
}