<!DOCTYPE html>
<html>
  <head>
    <title>RubyWebsite</title>
    <%= csrf_meta_tags %>
      
    <%= favicon_link_tag('my_images/favicon.png') %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

  </head>

  <body>


   
   <%= render 'pages/header' %>
  

   
    <%= yield %>
   <%= render 'pages/footer' %>

  </body>
</html>
